.DS_Store
HW9/.DS_Store
HW8/images/.DS_Store
HW8/.DS_Store
HW7/.DS_Store
HW6/.DS_Store
HW6/.DS_Store
HW5/.DS_Store
HW4/.DS_Store
HW3/.DS_Store
HW15/assets/.DS_Store
HW15/.DS_Store
HW15.zip
HW14/models/.DS_Store
HW14/.DS_Store
HW14.zip
HW13/assets/.DS_Store
HW13/.DS_Store
HW13 3.zip
HW1/.DS_Store
HW12/.DS_Store
